<!DOCTYPE html>
<html lang="es-Es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="icon" href="img/logo.png">

    <title>Animalandia</title>
    <script src="https://kit.fontawesome.com/d4252d30df.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="logo">
            <img src="img/logo.jpg" alt="Logo Animalandia">
        </div>

    </header>

    <nav>
        <a href="index.html" class="item">Home</a>
        <a href="equipo.html" class="item">Equipo</a>
        <a href="servicios.html" class="item">Servicios</a>
        <a href="agenda.html" class="item">Agenda</a>
        <a href="contacto.html" class="item">Contacto</a>
    </nav>

    <main>

        <section id="banner">
            <img src="img/bannercon.png" alt="">
        </section>

        <div id="container-cont">


            <form action="index.html" class="form-contacto">
                <h1>Nuestro equipo se pondrá en contacto contigo</h1>
                <div class="espacios">
                    <div class="form-group">

                        <label for="name">Nombre:</label>
                        <div class="namess">
                            <input type="text" id="name" name="user_name" placeholder="nombre" required>
                            <input type="text" id="lastname" name="user_name" placeholder="Apellido" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="mail">Correo electrónico:</label>
                        <input type="email" id="mail" name="user_mail" placeholder="Correo electrónico" required>
                    </div>

                    <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input type="number" id="telefono" name="user_phone" placeholder="Telefono" required>
                    </div>

                    <div class="form-group">
                        <label for="msg">Mensaje:</label>
                        <textarea id="msg" name="user_message"></textarea>
                    </div>

                    <div class="form-group">
                        <input type="submit" name="Registrar" value="Solicita información" id="btn">
                    </div>
                </div>

            </form>

            <section id="mapirris">
                <h1 class="t-contacto">¿como encontrarnos?</h1>

                <div id="contacto">

                    <div class="contacto-item">
                        <article class="mapa">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15908.336537474523!2d-74.15922740228937!3d4.578911422130636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9f11684c7391%3A0x95535a1c1b7ecb8b!2sAnimals%20Veterinaria%20Sede%20Ensue%C3%B1o!5e0!3m2!1ses-419!2sco!4v1646409403012!5m2!1ses-419!2sco"></iframe>
                        </article>

                        <article class="info-contacto">

                            <p><strong>Dirección:</strong>Calle 22 # 18-15</p>
                            <p><strong>Telefono:</strong>601 222 2222</p>
                            <p><strong>Email:</strong>Contacto@kuepa.com</p>
                        </article>
                    </div>

                    <div class="contacto-item">
                        <article class="mapa">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15908.336537474523!2d-74.15922740228937!3d4.578911422130636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9f11684c7391%3A0x95535a1c1b7ecb8b!2sAnimals%20Veterinaria%20Sede%20Ensue%C3%B1o!5e0!3m2!1ses-419!2sco!4v1646409403012!5m2!1ses-419!2sco"></iframe>
                        </article>

                        <article class="info-contacto">
                            <h1 class="t-contacto"></h1>
                            <p><strong>Dirección:</strong>Calle 22 # 18-15</p>
                            <p><strong>Telefono:</strong>601 222 2222</p>
                            <p><strong>Email:</strong>Contacto@kuepa.com</p>
                        </article>
                    </div>

            </section>

        </div>
        </div>
        <footer>
            <div class="box-footer">
                <div class="foot">
                    <img src="img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                        Sede Suba <br>
                        Sede Fontibón <br>
                        Sede Centro
                    </p>
                </div>

                <div class="foot">
                    <img src="img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                        Sede Suba <br>
                        Sede Fontibón <br>
                        Sede Centro
                    </p>
                </div>

                <div class="foot">
                    <img src="img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                        Sede Suba <br>
                        Sede Fontibón <br>
                        Sede Centro
                    </p>
                </div>

            </div>
        </footer>

    </main>

</body>

</html>