<!DOCTYPE html>
<html lang="es-Es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="icon" href="../assets/img/paw-solid.svg">

    <title>Animalandia</title>
    <script src="https://kit.fontawesome.com/d4252d30df.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../assets/img/logo.jpg" alt="">
        </div>
        <div class="sesion">
            <img src="../assets/img/golden (1).jpg" alt="">
            <span>
                <strong>Bienvenido</strong><br>usuario
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </span>
        </div>
    </header>
    <section id="dashboard">
        <article class="menu">
            <ul>
                <li class="item"><i class="fa-solid fa-user"></i> Usuarios</li>
                <li class="item"><i class="fa-solid fa-users"></i> Clientes</li>
                <li class="item"><i class="fa-solid fa-tag"></i> Productos</li>
                <li class="item"><i class="fa-solid fa-cart-shopping"></i> Pedidos</li>
                <li class="item"><i class="fa-solid fa-chart-line"></i> Reportes</li>
            </ul>
        </article>
        <article class="contenido">
            <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse sapiente ullam minus officia vel quaerat, iste nihil distinctio? Ipsum ipsa tempora cumque porro tempore aperiam repudiandae totam molestiae ipsam ullam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit maxime consectetur, animi iusto deserunt praesentium officia beatae perspiciatis quos unde perferendis quae veniam nihil aliquam ut eum facilis exercitationem sunt.
        </p>
        </article>
    </section>

</body>

</html>