<!DOCTYPE html>
<html lang="es-Es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="icon" href="../assets/img/paw-solid.svg">

    <title>Animalandia</title>
    <script src="https://kit.fontawesome.com/d4252d30df.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="logo">
            <img src="../assets/img/logo.jpg" alt="Logo Animalandia">
        </div>
        <div class="botones">
            <a href="login.html" class="b-azul"><i class="fa-solid fa-user-astronaut"></i> Ingresar</a>
            <button class="b-morado"><i class="fa-solid fa-user-secret"></i> Registrar</button>
        </div>
    </header>

    <nav>
        <a href="../index.html" class="item">Home</a>
        <a href="equipo.html" class="item">Equipo</a>
        <a href="servicios.html" class="item">Servicios</a>
        <a href="tips.html" class="item">Tips y cuidados</a>        
        <a href="contacto.html" class="item">Contacto</a>
    </nav>

    <main>
        <section id="banner">
            <img src="../assets/img/banner.jpeg" alt="">
        </section>

        <h1 class="tseccion">Nuestros Servicios</h1>

        <section id="services">
            <article class="service">
                <div class="img-service">
                <img src="../assets/img/vacuna.png" alt="">
                </div>

                <div class="text-service">
                <h3>Vacunacion de Mascotas</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Numquam, aliquid commodi, soluta voluptatibus accusamus assumenda et provident recusandae tempora totam eos! Minima ut consequatur sed adipisci quae expedita commodi placeat.</p>
                </div>
            </article>

            <article class="service">
                <div class="img-service">
                <img src="../assets/img/laboratorio.png" alt="">
                </div>

                <div class="text-service">
                <h3>Laboratorio Clinico</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, aliquid commodi, soluta voluptatibus accusamus assumenda et provident recusandae tempora totam eos! Minima ut consequatur sed adipisci quae expedita commodi placeat.</p>
                </div>
            </article>

            
            <article class="service">
                <div class="img-service">
                <img src="../assets/img/vacuna.png" alt="">
                </div>

                <div class="text-service">
                <h3>consulta veterinaria</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Numquam, aliquid commodi, soluta voluptatibus accusamus assumenda et provident recusandae tempora totam eos! Minima ut consequatur sed adipisci quae expedita commodi placeat.</p>
                </div>
            </article>

            <article class="service">
                <div class="img-service">
                <img src="../assets/img/laboratorio.png" alt="">
                </div>

                <div class="text-service">
                <h3>Laboratorio Clinico</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, aliquid commodi, soluta voluptatibus accusamus assumenda et provident recusandae tempora totam eos! Minima ut consequatur sed adipisci quae expedita commodi placeat.</p>
                </div>
            </article>
        </section>

        <footer>
            <div class="box-footer">
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                        Sede Suba <br>
                        Sede Fontibón <br>
                        Sede Centro
                    </p>
                </div>

                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                        Sede Suba <br>
                        Sede Fontibón <br>
                        Sede Centro
                    </p>
                </div>

                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                        Sede Suba <br>
                        Sede Fontibón <br>
                        Sede Centro
                    </p>
                </div>

            </div>
        </footer>

    </main>

</body>

</html>